body {
  font-family: 'Raleway', sans-serif;
  margin: 48px;
  color: dimgray;
}

a {
  color: dimgray;
  text-decoration: none;
}

a:hover {
  color: mistyrose;
}

ul li {
  list-style-type: none;
  line-height: 1.5em;
}

ol li {
  line-height: 2em;
  margin-bottom: 20px;
}

input {
  height: 30px;
}

h2 {
  font-size: 1.5em;
}

.header {
  display: flex;
}

.maintitle {
  font-size: 36px;
}

.new {
  font-size: 42px;
  position: absolute;
  right: 48px;
  background-color: mistyrose;
  padding: 0 16px;
  border-radius: 100%;
  cursor: pointer;
}

.new:hover {
  background: none;
}

.title {
  font-size: 36px;
  margin-bottom: 25px;
}

.ingredients {
  padding: 20px;
  background-color: mistyrose;
  display: inline-block;
  margin: 0 0 25px 25px;
  width: 400px;
}

.ingredients li {
  display: flex;
}

.ingredient {
  margin-left: 5px;
}

.ammount {
  min-width: 30px;
  display: inline-block;
}

.units {
  margin-left: 5px;
  min-width: 30px;
  display: inline-block;
}

.steps {
  max-width: 400px;
}

.category {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
}

.remove {
  font-size: 24px;
  margin-left: 10px;
  cursor: pointer;
}



/* Ingredient Component */

.ingredientComponent {
  margin-bottom: 10px;
}

.ingredientInput {
  width: 300px;
  margin-left: 10px;
}

.ammountInput {
  width: 30px;
}

.unitsInput {
  width: 30px;
  margin-left: 10px;
}



/* Step Component */

.stepDescription: {
  width: 600px;
}

.stepComponent {
  margin-bottom: 10px;
}


/* New Recipe */

.ingredientsHeader {
  display: flex;
}

.ingredientsHeader span {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 20px;
  font-weight: bold;
  cursor: pointer;
}

.stepsHeader {
  display: flex;
}

.stepsHeader span {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 20px;
  font-weight: bold;
  cursor: pointer;
}