
html body {
  font-family: 'Amatic SC', monospace;
  color: dimgray;
  width: 100%;
  margin: 0;
}

a {
  color: dimgray;
  text-decoration: none;
}

a:hover {
  color: mistyrose;
}

ul {
  padding: 0;
  text-align: left;
}

ul li {
  list-style-type: none;
  font-size: 2em;
}

ol li {
  line-height: 2em;
  margin-bottom: 20px;
}

input {
  height: 30px;
  width: 100%;
  color: dimgray;
  font-size: 1em;
  font-family: 'Anonymous Pro', monospace;
  border: 1px solid gainsboro;
  outline: none;
  padding: 0 7px;
}

h2 {
  font-size: 2em;
  font-weight: normal;
}

pre{
  white-space: pre-wrap;
  text-align: justify;
}

header {
  background-color: mistyrose;
  border-bottom: 1px solid gainsboro;
}

footer {
  border-top: 1px solid gainsboro;
  width: 640px;
  height: 40px;
  margin: auto;
  text-align: center;
  color: gainsboro;
  padding-top: 20px;
}

textarea {
  color: dimgray;
  font-size: 1em;
  font-family: 'Anonymous Pro', monospace;
  border: 1px solid gainsboro;
  outline: none;
  padding: 7px;
  line-height: 2em;
}

td {
  padding: 5px;
}

.toc {
  margin: 50px auto;
  text-align: left;
  font-size: 1.2em;
}

.toc li {
  position: relative;
  overflow: hidden;
  padding: 0 50px;
  transition: opacity .15s ease-in-out;
}

.toc li span {
  background-color: white;
}

.toc li span:last-child {
  float: right;
  padding-left: 5px;
}

.toc li span:first-child {
  opacity: 0;
  transition: opacity .15s ease-in-out;
}

.toc li:hover span {
  color: dimgray;
  opacity: 1;
}

.toc li:after {
  content: ".........................";
  text-indent:  -1px;
  display: block;
  letter-spacing: 16px;
  position: absolute;
  bottom: 0px;
  z-index: -1;
  color: dimgray;
}

.toc:hover li:not(:hover) {
  opacity: 0.5;
}

.recipeList {
  margin: 0;
}

.recipeList li {
  position: relative;
  transition: opacity .15s ease-in-out;
}

.recipeList span {
  opacity: 0;
  transition: opacity .15s ease-in-out;
}

.recipeList li:hover {
  color: dimgray;
}

.recipeList li:hover span {
  opacity: 1;
  color: dimgray;
}

.recipeList li div {
  color: dimgray;
}

.recipeList:hover li:not(:hover) {
  opacity: 0.5;
}

.headerLink {
  font-size: 1em;
}

.headerLink:hover {
  color: white;
}

.button {
  background-color: silver;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  width: 50px;
  height: 30px;
  text-align: center;
}

.button:hover {
  background-color: mistyrose;
  color: dimgray;
}

.buttonDisabled {
  cursor: not-allowed;
  background-color: whitesmoke;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  border: none;
  width: 50px;
  height: 30px;
  text-align: center;
}

.Dropdown-root {
  position: relative;
  font-family: 'Anonymous Pro', monospace;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 2px;
  box-sizing: border-box;
  color: dimgray;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: gainsboro transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent gainsboro;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid gainsboro;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1.2);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: mistyrose;
  color: dimgray;
}

.Dropdown-option.is-selected {
  background-color: mistyrose;
  color: dimgray;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: gainsboro;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
