

html body {
  font-family: 'Raleway', sans-serif;
  color: dimgray;
  width: 100%;
  margin: 0;
}

a {
  color: dimgray;
  text-decoration: none;
}

a:hover {
  color: mistyrose;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
  line-height: 1.5em;
}

ol li {
  line-height: 2em;
  margin-bottom: 20px;
}

input {
  height: 30px;
  width: 50%;
}

h2 {
  font-size: 1.5em;
}

pre{
    white-space: pre-wrap;
}

footer {
  border-top: 1px solid #ddd;
  width: 640px;
  height: 40px;
  margin: auto;
  text-align: center;
  color: #ddd;
  padding-top: 20px;
}

.header {
  display: flex;
  align-items: center;
  width: 640px;
  margin: auto;
  border-bottom: 1px solid #ccc;
}

.maintitle {
  font-size: 24px;
  font-weight: 900;
  color: mistyrose;
}

.new {
  font-size: 42px;
  margin-left: 20px;
}

/* Recipe */

.recipeTitle {
  font-size: 36px;
  margin: 50px 0 25px 0;
  text-transform: uppercase;
}

.recipeHeader {
  margin-bottom: 25px;
  margin-top: 25px;
  width: 100%;
  color: dimgray;
  text-align: center;
}

.recipeImage {
  margin: 25px 0 70px 0;
  width: 100%;
  height: 300px;
  background-size: 100%;
  background-position-y: 50%;
  color: #ddd;
  display: flex;
  max-height: 290px;
}

.recipeBody {
  margin: 0 auto 70px auto;
  width: 640px;
}

.recipeDescription {
  margin-top: 50px;
}

.preFormatted {
  font-family: inherit;
  font-size: 1em;
  
}

.category {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
}

/* Recipe List */

.recipeList {
  width: 640;
  margin: auto;
}

/* New Recipe */

.recipeForm {
  width: 640px;
  margin: auto;
}

.titleInput {
  margin: 10px 0 20px 0;
}

.submit {
  background-color: dimgray;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius:6px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  width: 120px;
  margin: 25px 0;
}

.submit:hover {
  border: none;
  background-color: mistyrose;
}

.editIcon {
  margin-left: 15px;
  bottom: 5px;
  position: relative;
  color: #ccc;
}

.recipeTextArea {
  width: 100%;
  height: 50%;
  border-color: #ccc;
  height: 200px;
}

.dropzone {
  width: 50%;
  height: 200px;
  border: 1px solid #ccc;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageIcon {
  font-size: 2em;
}

.newRecipeImage {
  max-height: 190px;
}

.formEntry {
  margin-top: 50px;
}