body {
  font-family: 'Raleway', sans-serif;
  margin: 48px;
  color: dimgray;
  width: 640px;
}

a {
  color: dimgray;
  text-decoration: none;
}

a:hover {
  color: mistyrose;
}

ul li {
  list-style-type: none;
  line-height: 1.5em;
}

ol li {
  line-height: 2em;
  margin-bottom: 20px;
}

input {
  height: 30px;
  width: 50%;
}

h2 {
  font-size: 1.5em;
}

pre{
    white-space: pre-wrap;
}

.header {
  display: flex;
}

.maintitle {
  font-size: 36px;
}

.new {
  font-size: 42px;
  position: absolute;
  right: 48px;
  background-color: mistyrose;
  padding: 0 16px;
  border-radius: 100%;
  cursor: pointer;
}

.new:hover {
  background: none;
}

.recipeTitle {
  font-size: 25px;
}

.recipeHeader {
  margin-bottom: 25px;
  margin-top: 25px;
}

.ingredients {
  padding: 20px;
  background-color: mistyrose;
  display: inline-block;
  margin: 0 0 25px 25px;
  width: 400px;
}

.ingredients li {
  display: flex;
}

.ingredient {
  margin-left: 5px;
}

.ammount {
  min-width: 30px;
  display: inline-block;
}

.units {
  margin-left: 5px;
  min-width: 30px;
  display: inline-block;
}

.steps {
  max-width: 400px;
}

.category {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
}

/* Ingredient Component */

.ingredientComponent {
  margin-bottom: 10px;
  width: 100%;
  display: inline-flex;
}

.ingredientInput {
  width: 100%;
  margin-left: 10px;
}

.ammountInput {
  width: 30px;
}

.unitsInput {
  width: 30px;
  margin-left: 10px;
}

.remove {
  font-size: 24px;
  margin-left: 10px;
  cursor: pointer;
}



/* Step Component */

.stepComponent {
  margin-bottom: 10px;
  display: flex;
}

.stepComponent input {
  width: 100% ;
}


/* New Recipe */

.titleInput {
  margin: 10px 0 20px 0;
}

.ingredientsHeader {
  display: flex;
}

.ingredientsHeader span {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 20px;
  font-weight: bold;
  cursor: pointer;
}

.stepsHeader {
  display: flex;
}

.stepsHeader span {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 20px;
  font-weight: bold;
  cursor: pointer;
}

.submit {
  width: 60px;
}

.editIcon {
  margin-left: 15px;
  bottom: 5px;
  position: relative;
}

.recipeTextArea {
  width: 100%;
  height: 50%;
  border-color: #ccc;
}

.preFormatted {
  font-family: inherit;
  font-size: 1em;
}

.recipeImage {
  max-height: 190px;
  /*margin: 5px;*/
}

.dropzone {
  width: 50%;
  height: 200px;
  border: 1px solid #ccc;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageIcon {
  font-size: 2em;
}